
@{
    ViewBag.Title = "DisplayView";
}

<h2>Hello </h2>
<table border="1" cellpadding="10px" cellspacing="5px">
    <tr>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td> </td>
    </tr>
</table>  
